.assets-view {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 175px 800px;
	overflow: hidden;
	max-width: 1280px;
}

.asset-table-container {
	overflow: hidden;
	display: grid;
	grid-template-rows: auto 1fr;
	row-gap: 5px;
}

.asset-table {
	overflow: auto;
}