.terminal-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    font-family: monospace;
    background: var(--surface-color) !important;
    color: var(--text-color);
}

.terminal-container {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;

    flex-direction: column;

    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ccc rgba(0,0,0,0); /* Thumb and track color */
    scrollbar-gutter: stable;
    /*scroll-behavior: smooth;*/
    overflow-anchor: ;
}

.terminal-container > :first-child {
    margin-top: auto !important;
}

/* WebKit (Chrome, Safari, Edge) */
.scrollable-content::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    background: rgba(0,0,0,0);
    border-radius: 5px;
}

.scrollable-content::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 5px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Thumb color */
    border-radius: 5px; /* Rounded corners */
}

.terminal-input-container {
    margin-top: 2px;
    padding-left: 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    position: relative;;
}

.terminal-input-container span {
    margin-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex: 0;
}

.terminal-input {
    flex: 1;
    font-family: monospace;
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    outline: none;
    color: var(--text-color);
    padding: 8px 8px 8px 10px;
    border-radius: 8px;
}

.terminal-image {
    max-width: 300px;
    max-height: 500px;
}

.terminal-suggestion {
    position: absolute;
    bottom: 35px;
    left: 3px;
    z-index: 2;

    background-color: var(--overlay-color);
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    min-width: 150px;
}

.terminal-sent-command {
    color: var(--subtle-color)
}

.terminal-suggestion .active {
    color: var(--highlight-color)
}

.terminal-suggestion .command {
    /*font-weight: bold;*/
}

.terminal-suggestion .param {
    color: var(--muted-color);
}

.terminal-container .error {
    color: var(--error-color);
}

.terminal-container .title {
    color: var(--foam-color);
}